p{
    margin: 0;
}

.property-container{
    display: flex;
    margin: 1rem 4rem;
    background-color: #068587;
    border: 2px solid #112F41;
    border-radius: 0.5rem;
}

.info-container{
    box-sizing: border-box;
    float: left;
    padding: 1rem 2rem;
    width: 80%;
    color: white;
}

.button-container{
    float: right;
    width: 20%;
}
.button-container>a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 100%;
    text-decoration: none;
    background-color: #F2B134;
    color: white;
    border-bottom-right-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    transition: all .5s ease-in-out;
}

.button-container>a:hover{
    background-color: #4FB99F;
    color: #112F41;
}

.inline{
    display: flex;
}

.main-info{
    display: flex;
    padding-bottom: 0.5rem;
    font-weight: 700;
}

.secondary-info{
    display: flex;
}

.secondary-info>p:first-child{
    font-style: italic;
}

.text-left{
    float: left;
    width: 50%;
}

.text-right{
    float: right;
    width: 50%;
    text-align: right;
}

@media only screen and (max-width: 450px){
    .property-container{
        margin: 1rem;
    }
    .info-container{
        padding: 0.8rem;
        width: 70%;
    }
    .button-container{
        width: 30%;
    }
}